.section_home-list {
  position: relative;
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .section_home-list {
    min-height: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section_home-list {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .section_home-list {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.list_wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
}

.list_content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  text-align: center;
}

.heading-style-h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .heading-style-h2 {
    font-size: 2rem;
  }
}

#w-node-_9ed3a451-232b-5452-8539-598284d26d6e-84d26d6b {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 991px) {
  #w-node-_9ed3a451-232b-5452-8539-598284d26d6e-84d26d6b {
    order: -9999;
  }
}